---
title: Asus Detailed Test Results
description: Resources and details for Asus device performance testing.
ms.date: 06/16/2025
ms.service: windows-client
ms.subservice: itpro-fundamentals
ms.localizationpriority: medium
author: mestew
ms.author: mstewart
manager: bpardi
ms.topic: reference
ms.collection:
  - tier3
appliesto:
  - ✅ <a href="https://learn.microsoft.com/windows/release-health/supported-versions-windows-client" target="_blank">Windows 11</a>
---

# Asus Detailed Test Results

| **Device description** | **Processor** | **Cinebench R24 MT** | **Source** | **Date** |
|---|---|---|---|---|
| **Asus Zenbook S 16** | AMD Ryzen™ AI 9 HX 370 | 740.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Asus Vivobook S 14** | AMD Ryzen™ AI 9 365 | 912.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Asus Zenbook S 14** | Intel© Core™ Ultra 7 256V | 492.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Asus Zenbook S 16** | AMD Ryzen™ AI 9 HX 370 | 924 | Windows Performance Lab | April 2025 |
| **Asus Vivobook S 14** | AMD Ryzen™ AI 9 365 | 930 | Windows Performance Lab | April 2025 |
| **Asus Zenbook S 14** | Intel© Core™ Ultra 7 256V | 490 | Windows Performance Lab | April 2025 |

| **Device description** | **Processor** | **Geekbench 6 MT** | **Source** | **Date** |
|---|---|---|---|---|
| **ASUS Zenbook 14** | Intel© Core™ Ultra 5 125H | 11,651 | Windows Performance Lab | December 2024 |

| **Device description** | **Processor** | **Procyon® Office(multi-platform)** | **Source** | **Date** |
|---|---|---|---|---|
| **Asus Zenbook S 16** | AMD Ryzen™ AI 9 HX 370 | 240,333.3 | Principled Technologies | September 2024 |
| **Asus Vivobook S 14** | AMD Ryzen™ AI 9 365 | 248,000.0 | Principled Technologies | September 2024 |
| **Asus Zenbook S 14** | Intel© Core™ Ultra 7 256V | 253,666.7 | Principled Technologies | September 2024 |

| **Device description** | **Processor** | **Procyon® Office (Windows platform)** | **Source** | **Date** |
|---|---|---|---|---|
| **ASUS Zenbook 14** | Intel© Core™ Ultra 5 125H | 5,675.7 | Windows Performance Lab | December 2024 |

| **Device description** | **Processor** | **Speedometer** | **Source** | **Date** |
|---|---|---|---|---|
| **ASUS Zenbook 14** | Intel© Core™ Ultra 5 125H | 22.43 | Windows Performance Lab | December 2024 |

| **Device description** | **Processor** | **Procyon® AI** | **Source** | **Date** |
|---|---|---|---|---|
| **Asus Zenbook S 14** | Intel© Core™ Ultra 7 256V | 1,779.3 | Principled Technologies | September 2024 |
| **Asus Zenbook S 16** | AMD Ryzen™ AI 9 HX 370 | 1,687 | Windows Performance Lab | April 2025 |
| **Asus Vivobook S 14** | AMD Ryzen™ AI 9 365 | 1,614 | Windows Performance Lab | April 2025 |
| **Asus Zenbook S 14** | Intel© Core™ Ultra 7 256V | 1,749 | Windows Performance Lab | April 2025 |

| **Device Name** | **Processor** | **3DMark Steel Nomad - Raw Score - High Performance** | **Source** | **Date** |
|---|---|---|---|---|
| **Asus Vivobook S14** | AMD Ryzen™ AI 9 365 w/ Radeon 880M | 283.00 | Windows Performance Lab | April 2025 |
| **Asus Zenbook S 16** | AMD Ryzen™ AI 9 HX 370 w/ Radeon 890M | 306.50 | Windows Performance Lab | April 2025 |
| **Asus Vivobook** | AMD Ryzen™ 7 3700U with Radeon Vega Mobile Gfx | NULL | Windows Performance Lab | April 2025 |

| **Device Name** | **Processor** | **War Thunder Avg FPS** | **Source** | **Date** |
|---|---|---|---|---|
| **Asus Vivobook S14** | Intel© Core™ Ultra 7 258V | 98.67 | Windows Performance Lab | April 2025 |
| **Asus Vivobook S14** | AMD Ryzen™ AI 9 365 w/ Radeon 880M | 146.30 | Windows Performance Lab | April 2025 |
| **Asus Zenbook S 16** | AMD Ryzen™ AI 9 HX 370 w/ Radeon 890M | 119.23 | Windows Performance Lab | April 2025 |
| **Asus Vivobook** | AMD Ryzen™ 7 3700U with Radeon Vega Mobile Gfx | 67.80 | Windows Performance Lab | April 2025 |

| **Device Name** | **Processor** | **War Thunder Score Avg** | **Source** | **Date** |
|---|---|---|---|---|
| **Asus Vivobook S14** | Intel© Core™ Ultra 7 258V | 4,054.00 | Windows Performance Lab | April 2025 |
| **Asus Vivobook S14** | AMD Ryzen™ AI 9 365 w/ Radeon 880M | 6,010.67 | Windows Performance Lab | April 2025 |
| **Asus Zenbook S 16** | AMD Ryzen™ AI 9 HX 370 w/ Radeon 890M | 4,898.33 | Windows Performance Lab | April 2025 |
| **Asus Vivobook** | AMD Ryzen™ 7 3700U with Radeon Vega Mobile Gfx | 2,786.33 | Windows Performance Lab | April 2025 |

| **Device Name** | **Processor** | **World of Tanks Avg FPS** | **Source** | **Date** |
|---|---|---|---|---|
| **Asus Vivobook S14** | Intel© Core™ Ultra 7 258V | 122.17 | Windows Performance Lab | April 2025 |
| **Asus Vivobook S14** | AMD Ryzen™ AI 9 365 w/ Radeon 880M | 54.33 | Windows Performance Lab | April 2025 |
| **Asus Zenbook S 16** | AMD Ryzen™ AI 9 HX 370 w/ Radeon 890M | 52.47 | Windows Performance Lab | April 2025 |
| **Asus Vivobook** | AMD Ryzen™ 7 3700U with Radeon Vega Mobile Gfx | 16.97 | Windows Performance Lab | April 2025 |

| **Device description** | **Processor** | **Windows ADK Battery Life test - Web Browsing** | **Source** | **Date** |
|---|---|---|---|---|
| **Asus Zenbook S 16** | AMD Ryzen™ AI 9 HX 370 | 11.91 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Asus Vivobook S 14** | AMD Ryzen™ AI 9 365 | 9.66 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Asus Zenbook S 14** | Intel© Core™ Ultra 7 256V | 7.4 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |

| **Device description** | **Processor** | **Windows ADK Battery Life test - Local Video Playback** | **Source** | **Date** |
|---|---|---|---|---|
| **Asus Zenbook S 16** | AMD Ryzen™ AI 9 HX 370 | 19.01 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Asus Vivobook S 14** | AMD Ryzen™ AI 9 365 | 13.56 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Asus Zenbook S 14** | Intel© Core™ Ultra 7 256V | 23.28 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **ASUS Zenbook 14** | Intel© Core™ Ultra 5 125H | 17.39 | Windows Performance Lab | December 2024 |
